-- Example 0
3
0
2
1
3
2
0
1

3
NNY
NNY
YYN
-- Example 1
3
0
2
1
3
1
0
2

0
-- Example 2
4
3
1
1
1
4
1
0
1
1

0
-- Example 3
4
0
1
1
1
4
1
0
1
1

4
NYYY
YNYY
YYNN
YYNN
-- Example 4
8
0
3
1
2
2
3
4
4
8
3
0
2
1
2
3
4
4

8
NNYNNNNN
NNNYNNNN
YNNYYNNN
NYYNYNNN
NNYYNYNN
NNNNYNYY
NNNNNYNN
NNNNNYNN
-- Example 5
2
0
1
2
1
0

2
NY
YN
