-- Example 0
6
SSRRRPRRSS
PPRRSRRRSR
SRPRPPSRSR
PSSRRRPRRR
PSRPSPRSSP
RSRSRRRPRP

174
-- Example 1
3
R
P
S

0
-- Example 2
3
R
R
R

1
-- Example 3
42
SRSRPSPSSPPSPR
SRSPSSPSRRRPPR
SRSRSSPSRPSSSS
SSRSPPPPPPSSSS
SSRPRSPPPPSSPP
PSRSPPRRSPPSSS
PRRRPPSRSPPSSP
PPRRRRSRSSPPRP
RSSRRSRPPSSRPP
PRRRPPSRSPPSSP
PRRRPPSRSPPSSP
PSRSPPRRSPPSSS
PRRRPPSRSPPSSP
PSRSPPRRSPPSSS
PSRSPPRRSPPSSS
PSRSPPRRSPPSSS
PRRRPPSRSPPSSP
SSRPRSPPPPSSPP
SSRPRSPPPPSSPP
RSSRRSRPPSSRPP
SRSRPSPSSPPSPR
RSSRRSRPPSSRPP
PSRSPPRRSPPSSS
RSSRRSRPPSSRPP
SSRPRSPPPPSSPP
PSRSPPRRSPPSSS
SRSRPSPSSPPSPR
SRSRPSPSSPPSPR
PSRSPPRRSPPSSS
PSRSPPRRSPPSSS
SSRPRSPPPPSSPP
SRSRPSPSSPPSPR
RSSRRSRPPSSRPP
SRSRSSPSRPSSSS
SSRPRSPPPPSSPP
PSRSPPRRSPPSSS
SRSRPSPSSPPSPR
PSRSPPRRSPPSSS
SSRPRSPPPPSSPP
SRSRSSPSRPSSSS
SRSRPSPSSPPSPR
SRSRSSPSRPSSSS

1014
