-- Example 0
11
TOPCODER OPEN
SOURCE CODE
CHALLENGE POINTS
POINTS OPEN
QUAL ROUND
ROUND CHALLENGE
QUAL FUN
FUN TOPCODER
OPEN FINAL
OPEN SOURCE
CODE FINAL
QUAL
FINAL

-9
-- Example 1
1
ESPRIT CGFRVR
ESPRIT
CGFRVR

-13
-- Example 2
3
I CODE
CODE THEREFORE
THEREFORE AM
I
AM

5
-- Example 3
18
MONEY PEARS
MONEY APPLES
MONEY PLUMS
MONEY CHERRIES
MONEY STRAWBERRIES
MONEY BLUEBERRIES
MONEY GRAPES
PEARS RAKIQ
BRANDY NOMNOMNOM
APPLES JUICE
JUICE NOMNOMNOM
PLUMS RAKIQ
JAM NOMNOMNOM
CHERRIES JAM
STRAWBERRIES JAM
BLUEBERRIES JAM
GRAPES WINE
WINE NOMNOMNOM
MONEY
NOMNOMNOM

54
-- Example 4
29
ONE ONE
ONE TWO
ONE THREE
ONE FOUR
ONE FIVE
ONE SIX
ONE SEVEN
ONE EIGHT
ONE NINE
ONE TEN
ONE ELEVEN
ONE TWELVE
TWO TWO
TWO FOUR
TWO SIX
TWO EIGHT
TWO TEN
TWO TWELVE
THREE THREE
THREE SIX
THREE NINE
THREE TWELVE
FOUR FOUR
FOUR EIGHT
FOUR TWELVE
FIVE FIVE
FIVE TEN
SIX SIX
SIX TWELVE
ONE
TWELVE

53
